@import "vue-select/src/scss/vue-select.scss"
@import "vars"

body, html, #app, main, .main-wrapper
    margin: 0
    height: 100%

body
    color: $fontColor
    font-family: "Roboto"
    font-size: $defaultFontSize
    font-weight: $defaultFontWeight
    background-color: $mainColor

*
    box-sizing: border-box

main
    .main-wrapper
        display: flex

    .layers-list-panel
        min-width: 200px
        background-color: lighten($mainColor, 5%)
        border-left: 1px solid lighten($mainColor, 20%)