@import "../vars"

.main-button
    background-color: transparent
    border: none
    color: $fontColor
    transition: background-color .3s, color .3s, border-color .3s, box-shadow .3s
    cursor: pointer !important
    outline: none
    width: 100%
    padding: 10px
    font-size: 16px
    display: flex
    align-items: center
    justify-content: center

    &:hover
        color: lighten($mainColor, 10%)
        background-color: $accentColor

    &_bordered
        border: 1px solid lighten($mainColor, 20%)

        &:hover
            border-color: $accentColor

    &_filled
        background-color: $accentColor
        color: $mainColor
        font-weight: 500

        &:hover
            box-shadow: 0px -5px 10px transparentize($accentColor, .75)